@charset "utf-8";

#bgcontainer {
	width: 100%;
	background-color: rgba(26,26,26,1.00);
}

.container {
	max-width: 1080px;
	margin: 0 auto;
	background: #f9f9f9;
	font-size: 24px;
	padding: 25px;
	width: 100%
}

.parallax {
    padding: 100px	5px;
    background: transparent;
}

.images {
	padding-right: 25px;
	z-index: 2;
	position: relative;
	  display: block;
  margin-left: auto;
  margin-right: auto;
	border-radius: 40px;

	background-color: rgba(255,255,255,0.30);

	
	
}

hr {
	height: 3px;
	background-color: rgba(79,0,1,1.00);
	width: 95%;
	border-radius: 3px;
}

#toplogo h1{
margin:  0px;
	text-align: center;
	position: relative;
	color: white;
	font-family: candara;
	font-style: bold;
	z-index: 2;
}

#toplogo h3{
margin: 0px;
	text-align: center;
	position: relative;
	color: white;
	font-family: candara;
	z-index: 2;
}

#menubar {
	margin: 0;
    width: 100%;
	
}

#menubar p {
	margin: 0;
	font-size: 11px;
	text-align: center;
}

#menubar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#menubar li {
	
	
	color: white;
	float: left;
	width: 16.667%;
	height: 50px;
	background-color: black;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-family: candara;
	
}
#menubar a {
	text-decoration: none;
	color: white;
	display: block;
}
#menubar a:hover {
	background-color: red;
}

#menubar table {
	margin: 0;
	padding: 0px;
	
}
#header {
	padding: 15px 25px;
	clear: both;
    margin-left: auto;
	margin-right: auto;
	width: 92.5%;
}

#scrollbox {
	width: 1000px;
	overflow: hidden;
	
}

#imgscroll {
	position: relative;
	width: 3000px;
	animation-name: scroller;
	animation-duration: 20s;
	animation-iteration-count: infinite;

}

#imgscroll img {
    float: left;
	webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
	
}


@keyframes scroller{
	 0% {
		left: 0px;
	}
	27.8% {
		left: 0px;
	}
	33.3% {
		left: -1000px;
	}
	61.1% {
		left: -1000px;
	}
	66.6%{
		left: -2000px;
	}
	94.4%{
		left: -2000px;
	}
	
	100%{
		left: -3000px;
	}
}

#imgscroll img:hover {
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
	-webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
  
}

#header h6 {
	text-align: center;
	margin: 5px;
	font-family: candara;
	font-style: oblique;
}
#enroll {
 width: 100%;
 margin-left: auto;
 margin-right: auto;
	float: inherit;
	text-align: center;
}

#enroll h2{
    margin:  0px 50px;
	text-align: center;
	position: relative;
	color: darkred;
	font-family: candara;
	font-style: bold;
	z-index: 2;
	background-color: rgba(223,223,223,0.10);
	border-radius: 10px;
}

#enroll h4{
margin:  0 0 50 0;
	text-align: center;
	position: relative;
	color: white;
	font-family: candara;
	font-style: bold;
	z-index: 2;
}

#enroll a {
	z-index: 2;
	position: relative;
	font-family: candara;
	font-size: 20px;
	margin-top: 30px; 
	padding: 10px 15px;
	color: white;
	text-decoration: none;
	transition: all 300ms ease-in-out;
		
}
#enroll a:hover {
	color: black;
	background-color: #D7D7D7;
}
.enrollbtn {
	margin-top: 40px;
	text-align: center;
	background-color: rgba(158,0,3,1.00);
	border-radius: 10px;
	
}

#content {
	clear: both;
	width: 100%;
	height: 600px;
	font-family: candara;
	color: black;
	
}

#content h2 {
	text-align: center;
	padding-top: 20;
	font-family: candara;
	font:bold;
	}
#class1 {
	width: 30%;
	height: 100%;
	background-color: rgba(199,199,199,1.00);
	margin: 10px;
	float: left;
	border-radius: 10px;
	overflow: hidden;
}

#class2 {
	width: 30%;
	height: 100%;
	background-color: rgba(199,199,199,1.00);
	margin: 10px;
	float: left;
	border-radius: 10px;
	overflow: hidden;
}

#class3 {
	width: 30%;
	height: 100%;
	background-color: rgba(199,199,199,1.00);
	margin: 10px;
	float: left;
	border-radius: 10px;
	overflow: hidden;
}

#content div {
	margin: 10px 1.66667%;
	transition: all 500ms ease-in-out;
}

#content div:first-child {
	margin-left: 0;
}

#content div:last-child {
	margin-right: 0;
}

#content h4 {
	text-align: center;
	font: bolder;
	margin-bottom: 10px;
}

#content div:hover {
	background-color: rgba(158,0,3,1.00);
	color: white;
	transform: scale(1.02);
	
}

#content a:hover {
	color: white;
	transition: all 500ms ease-in-out;
}

#class1 img {
	margin: 50px 5% 15px 5%;
	width: 90%;
	border-radius: 10px;
	height: 30%;
} 

#class2 img {
	margin: 50px 5% 15px 5%;
	width: 90%;
	border-radius: 10px;
	height: 30%;
} 

#class3 img {
	margin: 50px 5% 15px 5%;
	width: 90%;
	height: 30%;
	border-radius: 10px;
} 
#content p {
	text-align: center;
	font-size: 17px;
	
	padding: 0 13px;
	
}

#content a {
	text-decoration: none;
	color: black;
	transition: all 300ms ease-in-out;
}

#footer{
	margin: 30px 0;
	clear:both;
	width: 100%;
	height: 250px;
	background-color: rgba(0,0,0,0.87);
	padding: 20px 0;
}
#spacer {
	clear:both;
	margin: 60px auto 0;
	text-align: center;
	
  
}

#footer hr{
	width: 1px;
	height: 90%;
	background-color: white;
	margin: 10px;
	float: left;
}
#footmenu ul {
	list-style: none;
	color: white;
	font-family: candara;
}

#footmenu p {
	list-style: none;
	color: white;
	font-family: candara;
	font-size: 30px;
}

#footmenu li {
	margin: 5px 20px;
}

#footmenu a {
	text-decoration: none;
	color: white;
	transition: all 300ms ease-in-out;
}

#footmenu a:hover {
	color: red;
}

#footmenu {
	float: left;
}

#footercontact {
	margin: 0px 15px;
	float: left;
	
}
#footercontact ul {
	list-style: none;
	color: white;
	font-family: candara;
}

#footercontact a {
	text-decoration: underline;
	color: white;
}

#footercontact h4 {
	font-family: candara;
	color:white;
	font-style: bold;
	
}


#footermap {
	float: right;
	margin-right: 60px;
	margin-top: 10px;
}